@font-face {
    font-family: "AD";
    src: url("fonts/ArchitectsDaughter.ttf");
}

@font-face {
    font-family: "3Dumb";
    src: url("fonts/3Dumb.ttf");
}

@font-face {
    font-family: "2Dumb";
    src: url("fonts/2Dumb.ttf");
}

@font-face {
    font-family: "Helsinki";
    src: url("fonts/helsinki.ttf");
}

@keyframes excited {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

html, body {
    padding: 0; 
    margin: 0;
    background: black;
}

.content {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.blurry {
    -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
    filter: blur(10px);
}

.status_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.score_wrap {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;

    font-size: 60px;
    font-family: "Helsinki";
    font-weight: bold;
    user-select: none;
}

.dense_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5)
}

.notification_wrap {
    width: 600px;
    height: 600px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;

    border-radius: 10px;

    background: white;
}

.notification_header {
    padding-top: 100px;
    font-family: Helsinki;
    text-align: center;
    font-size: 100px;
    
}

.notification_red_prompt {
    text-align: center;
    font-family: Helsinki;
    font-size: 50px;
    margin-top: 42px;
    color: darkred;
}

.notification_more_info {
    text-align: center;
    font-family: Helsinki;
    font-size: 20;
    margin-top: 10px;
    color: black;
}

.logo_animation {
    font-size: 120px;
    animation-name: excited;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}



.button {

    position: relative;
    margin: 80px auto;
    width: 150px;
    height: 80px;
    display: block;
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Helsinki;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
}

.button:active {
    transform: scale(0.9);
}

.button:hover {
    /*color: orange;*/
    background: #1B1B1B;
}

.again_button {
    margin-top: 40px;
}

.button div{
    margin-top: 21px;
    position: absolute;
    width: 100%;
}

.hidden {
    display: none;
}

.sound_setting {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font-family: Calibri;
    margin-top: 15px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
    transition: 0.1s background,color ease-in-out;
}

.sound_setting:active {
    color: black;
    background: white;
}